
<!DOCTYPE html>
{% macro csrf_input() %}
    <input type="hidden" value="{{ _csrf_code }}" name="_csrf_code"/>
{% endmacro %}
{% macro form_input(label,property,value,error_msg) %}
    <div class="form-group {{ ' has-error' if error_msg }}">
        <label for="{{ property }}Input"
               class="control-label">{{ label }} </label>
        <input id="{{ property }}Input" type="text" class="form-control" name="{{ property }}"
               value="{{ value }}"/>
        {% if error_msg %}<span class="help-block">{{ error_msg }}</span>{% endif %}
    </div>
{% endmacro %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>League of Draven{% block tComp %}{% endblock %}</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
        <script type="text/javascript" src="/static/jquery/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-inverse navbar-static-top sem_margb" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img alt="League of Legends logo" src="/static/img/lod-logo.png"
                                                  width="226" height="123"
                                                  style="margin-top: -25px; margin-left: -15px"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/campeao">Campeões</a>
                </li>
                <li class="active">
                    <a href="/itenss">Itens</a>
                </li>
                <li class="active">
                    <a href="/criatura">Criaturas</a>
                </li>
                <li class="active">
                    <a href="/guia">Guias</a>
                </li>
                <li class="active">
                    <a href="/updown">Melhores Scores</a>
                </li>

            </ul>
        </div>

    </nav>
{% endblock %}
{% block logBlock %}
    <div class="login-block">

        {% if _logged_user %}
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown">
                            {{ _logged_user.name }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="/account">{% trans %}
                                Account{% endtrans %}</a></li>
                            <li role="presentation">
                                <form action="{{ _logout_path }}" method="post" class="text-center">
                                    <button class="btn btn-danger" type="submit">{% trans %}
                                        Logout{% endtrans %}</button>
                                    {{ csrf_input() }}
                                </form>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-info btn-block" href="{{ _login_path }}">{% trans %}Login{% endtrans %}</a>

                {% endif %}



            </div>
{% endblock %}
{% block body %}
{% endblock %}

</body>
</html>
