<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>League of Draven{% block tComp %}{% endblock %}</title>

{% block css %}
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
{% endblock %}
{% block js %}
	<script type="text/javascript" src="/static/jquery/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</head>

<body>
{% block navbar %}
<nav class="navbar navbar-default navbar-inverse navbar-static-top sem_margb" role="navigation">
				<div class="navbar-header">
					 <a class="navbar-brand" href="/"><img alt="League of Legends logo" src="/static/img/lod-logo.png" width="226" height="123" style="margin-top: -25px; margin-left: -15px"></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/campeao">Campeões</a>
						</li>
						<li class="active">
							<a href="/item">Itens</a>
						</li>
						<li class="active">
							<a href="/criatura">Criaturas</a>
						</li>
						<li class="active">
							<a href="/guia">Guias</a>
						</li>

					</ul>

				</div>

			</nav>
{% endblock %}
{% block body %}
{% endblock %}
{% block rodape %}
<div class="row ">
    <div class="col-sm-12 rodape">
        Projeto de Script - Marcelo Augusto Sandoval - 5ºADS - manhã - 1º semestre 2015
    </div>
</div>
{% endblock %}
</body>
</html>
