{% extends 'base/baselista.html' %}
{% block tComp %} - Campeões{% endblock %}

{% if camPapelL is undefined%}
    {% set camPapelL=None %}
{% endif %}

{% if campeao is undefined%}
    {% set campeao=None %}
{% endif %}

{% block imagem %}<img alt="140x140" src="/static/img/champions.png" class="img-mid img-responsive">
{% endblock %}
{% block titulo %}Campeões{% endblock %}
{% block descricao %}
    Veja informações e dados sobre os campeões de League of Legends, sempre atualizados com o último
    patch do servidor live. Aqui se encontram os atributos dos campões, descrições de suas habilidades,
    assim como varias informações e curiosidades.
    {# {% if _logged_user and 'ADMIN' in _logged_user.groups %}#}
    <br/>
    <a class="btn btn-info" href="/campapel">
    Acessar papeis de campeão
    </a>
    <a class="btn btn-info" href="/campeao/show/form">
    Criar novo campeao
    </a>
    {# {% endif %} #}
{% endblock %}

{% block barFiltro %}
    <form action="campeao" role="form">
        <div class="col-sm-2 col-sm-offset-2">
            <select name="campeao_filtro" class="form-control">
                {% for camPapel in camPapelL %}
                    <option value="{{ camPapel.key.id() }}" selected>{{ camPapel.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Pesquisar</button>
        </div>
    </form>
{% endblock %}

{% block Listagem %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% for campeao in campeaoL %}
                <div class="row item-block">
                <div class="col-sm-3 column">
                    <a href="/campeao/show/{{ campeao.key.id() }} "><img alt="140x140" src="/static/img/{{ campeao.image }}"
                                                             class="img-mid img-responsive"></a>
                </div>
                <div class="col-sm-9 column">
                    <h2><a href="/campeao/show/{{ campeao.key.id() }}">
                        {{ campeao.name }}</a>

                    </h2>

                    <p>
                        {{ campeao.title }}
                    </p>
                    {# {% if _logged_user and 'ADMIN' in _logged_user.groups %}#}
                        <br/>
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-success" href="/campeao/show/editar_form/{{ campeao.key.id() }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                                </td>
                                <td>

                        <form action="/campeao/show/deletar/{{ campeao.key.id() }}" method="post">
                            {{ csrf_input() }}
                            <button class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </form>
                                </td>
                            </tr>
                        </table>
                        {# {% endif %} #}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}