{% extends 'base/base.html' %}
{% block tComp %} - Campeões show{% endblock %}

{% block body %}
    <div class="container container-full">


        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 item-block">
                <div class="row">
                    <div class="col-sm-3 column">
                        <img alt="140x140" src="/static/img/champions.png" class="img-mid img-responsive">
                    </div>
                    <div class="col-sm-9 column">
                        <h2>
                            Nome do Campeão
                        </h2>
                        subtitulo
                        <br/>

                        <div class="row texto_desc">
                            <div class="col-sm-4 column">
                                Papel Primario
                            </div>
                            <div class="col-sm-4 column">
                                Papel Secundario
                            </div>
                            <div class="col-sm-4 column">
                                Barra Secundaria
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-4 column">
                                Descrição
                            </div>
                            <div class="col-sm-4 column">
                                Descrição
                            </div>
                            <div class="col-sm-4 column">
                                Descrição
                            </div>
                        </div>

                        <br/><br/>

                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Vida:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Vida Regen:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Mana:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Mana Regen:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Tipo de Ataque:
                            </div>
                            <div class="col-sm-9 column">
                                Range/Melee
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Range:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Velocidade de Ataque:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Ataque:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Armadura:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Resistencia Magica:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>
                        <div class="row texto_desc">
                            <div class="col-sm-3 column">
                                Movimento:
                            </div>
                            <div class="col-sm-9 column">
                                50
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <h2>Habilidades</h2>

                <div class="row item-block">
                    <div class="col-sm-2 column">
                        <img alt="140x140" src="/static/img/habilidades/geral_passiva.jpg"
                             class="img-hab aj_img_hab img-responsive">
                    </div>
                    <div class="col-sm-10 column texto_desc">
                        <h3>Passiva</h3>

                        <p>
                            Descrição
                        </p>
                    </div>
                </div>
                <div class="row item-block">
                    <div class="col-sm-2 column">
                        <img alt="140x140" src="/static/img/habilidades/geral_q.jpg"
                             class="img-hab aj_img_hab img-responsive">
                    </div>
                    <div class="col-sm-10 column texto_desc">
                        <h3>QQQQQQQQQQ</h3> Alcance: 50 Custo: 50/60/70 mana Recarga: 50/60/70
                        <div class="row">
                            <div class="col-sm-8 column texto_desc">
                                Ativo: Descrição<br/>
                                Passivo: Descrição
                            </div>
                            <div class="col-sm-4 column texto_desc">
                                Dano Fisico: 50/0/70<br/>
                                Outros Modificadores
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row item-block">
                    <div class="col-sm-2 column">
                        <img alt="140x140" src="/static/img/habilidades/geral_w.jpg"
                             class="img-hab aj_img_hab img-responsive">
                    </div>
                    <div class="col-sm-10 column texto_desc">
                        <h3>WWWWWWWWWWWWWWWWWW</h3> Alcance: 50 Custo: 50/60/70 mana Recarga: 50/60/70
                        <div class="row">
                            <div class="col-sm-8 column texto_desc">
                                Ativo: Descrição<br/>
                                Passivo: Descrição
                            </div>
                            <div class="col-sm-4 column texto_desc">
                                Dano Fisico: 50/0/70<br/>
                                Outros Modificadores
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row item-block">
                    <div class="col-sm-2 column">
                        <img alt="140x140" src="/static/img/habilidades/geral_e.jpg"
                             class="img-hab aj_img_hab img-responsive">
                    </div>
                    <div class="col-sm-10 column texto_desc">
                        <h3>EEEEEEEEEEEEEE</h3> Alcance: 50 Custo: 50/60/70 mana Recarga: 50/60/70
                        <div class="row">
                            <div class="col-sm-8 column texto_desc">
                                Ativo: Descrição<br/>
                                Passivo: Descrição
                            </div>
                            <div class="col-sm-4 column texto_desc">
                                Dano Fisico: 50/0/70<br/>
                                Outros Modificadores
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row item-block">
                    <div class="col-sm-2 column">
                        <img alt="140x140" src="/static/img/habilidades/geral_r.jpg"
                             class=" img-responsive aj_img_hab img-hab">
                    </div>
                    <div class="col-sm-10 column texto_desc">
                        <h3>Ultimate</h3> Alcance: 50 Custo: 50/60/70 mana Recarga: 50/60/70
                        <div class="row">
                            <div class="col-sm-8 column texto_desc">
                                Ativo: Descrição<br/>
                                Passivo: Descrição
                            </div>
                            <div class="col-sm-4 column texto_desc">
                                Dano Fisico: 50/0/70<br/>
                                Outros Modificadores
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}