.login-block {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    background: rgba(0, 205, 232, 0.50);
    border: solid #000876 2px;
    right: 0px;
    position: absolute;
    width: 15%;
}
.login-item{
    margin: 0px;

    padding: 0px;
}
.titulo-draven{
    font-size: 400%;
}
.apres-draven{
    color: #ffffff;
    font-size: x-large;
}
.container{
    margin-top: 0px;
    margin-bottom: 0px;
}
.bloco-draven{
    color: #ffffff;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.item-block {
    margin: 5px;
    padding: 2px;
    border-radius: 2px;
    background-color: #ececec;
    border: solid #a39f02 2px;
}
.rodape{
    margin-top: 15px;
    background-color: black;
    color: white;
    text-align: center;

}
.container-full {
    margin-top: 20px;
    padding: 2px;
    border-radius: 2px;
    background-color: #ececec;
    border: solid #a39f02 2px;
}
.barra-pesquisa{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: black;
    color: white;
}
.img-mid{
    float: left;
}
.img-hab{
    width: 75px;
}
.sem_margb{
    margin-bottom: 0px
}

.texto_desc{
    margin-top: 7px;
    margin-bottom: 7px;
}
.aj_img_hab{
    margin-top: 20px;
}
.guia_texto{

    margin: 5px;
    padding: 2px;
}

body {
    background: url(/static/img/freljord.png) no-repeat center top;
    background-color: #020202;
}