<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>League of Draven</title>


	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="/static/jquery/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-inverse navbar-static-top sem_margb" role="navigation">
				<div class="navbar-header">
					 <a class="navbar-brand" href="#"><img alt="League of Legends logo" src="/static/img/lod-logo.png" width="226" height="123" style="margin-top: -25px; margin-left: -15px"></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Página Inicial</a>
						</li>

					</ul>
					<form class="navbar-form navbar-right" id="form" role="search">
						<div class="form-group ">
							<input type="text" class="form-control">
                            <select class="form-control" form="form">
                                <option value="campeao">Campeão</option>
                                <option value="item">Item</option>
                                <option value="criatura">Criatura</option>
                            </select>
						</div>
                        <button type="submit" class="btn btn-default">Pesquisar</button>
					</form>

				</div>

			</nav>
<div class="container">
	<div class="row clearfix">
		<div class="col-sm-12 column">

		</div>
	</div>
	<div class="row clearfix">
		<div class="col-sm-3 column" align="center">
			<img alt="600x650" src="/static/img/draven-soulreaper.png" class="img-mid img-responsive" style="margin-top: 200px">
		</div>
		<div class="col-sm-6 column bloco-draven">
			<div align="center">
				<div class="titulo-draven">
					Bem vindos ao <br />League of Draven!!
				</div>
				<p><div class="apres-draven">
                    Aqui você encontra informações sobre diversos elementos de League of Legends, e guias escritos e
                    avaliados pela própria comunidade de jogadores.<br />
                </div></p>
			</div>
		</div>
		<div class="col-sm-3 column login-block">
			<form role="form">
				<div class="form-groupmargin-bottom: 0px">
	                <div class="row clearfix pad">
		                <div class="col-sm-4 column"align="center"><label>Usuário: </label></div>
                        <div class="col-sm-8 column"><input type="text" class="form-control" id=""></div>
                    </div>
	                <div class="row clearfix pad" >
		                <div class="col-sm-4 column"align="center"><label>Senha: </label></div>
                        <div class="col-sm-8 column"><input type="text" class="form-control" id=""></div>
                    </div>
	                <div class="row clearfix pad" align="center">
		                <div class="col-sm-12 column"><button type="submit" class="btn btn-info btn-block">Submit</button></div>
                    </div>
	                <div class="row clearfix pad" align="center">
		                <div class="col-sm-12 column"><a class="btn" href="#">Esqueci minha senha</a></div>
                    </div>
	                <div class="row clearfix pad" align="center">
		                <div class="col-sm-12 column"><a class="btn" href="#">Realizar cadastro</a></div>
                    </div>



				</div>

			</form>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-sm-2 column">
		</div>
		<div class="col-sm-8 column">
			<div class="row item-block">
				<div class="col-sm-3 column">
					<img alt="140x140" src="/static/img/champions.png" class="img-mid img-responsive">
				</div>
				<div class="col-sm-9 column">
					<h2>
						Campeões
					</h2>
					<p>
                        Veja informações e dados sobre os campeões de League of Legends, sempre atualizados com o último
                        patch do servidor live. Aqui se encontram os atributos dos campões, descrições de suas habilidades,
                        assim como varias informações e curiosidades.
					</p>
					<p>
						<a class="btn" href="#">Ir para a página de campeões »</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-2 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-sm-2 column">
		</div>
		<div class="col-sm-8 column">
			<div class="row item-block">
				<div class="col-sm-3 column">
					<img alt="140x140" src="/static/img/itens.png" class="img-mid img-responsive">
				</div>
				<div class="col-sm-9 column">
					<h2>
						Itens
					</h2>
					<p>
                        Para aprofundar seu conhecimento sobre League of Legends é precisso conhecer os itens do jogo,
                        seus efeitos, atributos e custos. Dessa forma ficara muito mais facil decidir suas próximas
                        ações dentro da partida. Aqui estão disponiveis todas as informações em relação aos itens.
                    </p>
					<p>
						<a class="btn" href="#">Ir para a página de itens »</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-2 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-sm-2 column">
		</div>
		<div class="col-sm-8 column">
			<div class="row item-block">
				<div class="col-sm-3 column">
					<img alt="140x140" src="/static/img/creatures.png" class="img-mid img-responsive">
				</div>
				<div class="col-sm-9 column">
					<h2>
						Criaturas
					</h2>
					<p>
                        Para conseguir escalar seu poder dentro do jogo e garantir uma vitória você deve conhecer todas
                        as criaturas da selva, seus atributos, buffs e tempo de respawn, assim optimizando suas rotas
                        por entre a selva  e garantindo grando objetivos.
                    </p>
					<p>
						<a class="btn" href="#">Ir para a página de criaturas »</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-2 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-sm-2 column">
		</div>
		<div class="col-sm-8 column">
			<div class="row item-block">
				<div class="col-sm-3 column">
					<img alt="140x140" src="/static/img/guides.png" class="img-mid img-responsive">
				</div>
				<div class="col-sm-9 column">
					<h2>
						Guias
					</h2>
					<p>
                        Já tentou jogar com um campeão apelão e percebeu que era presciso mais que dez dedos pra isso?<br />
                        Aqui os jogadores podem ler e escrever guias de jogo de seus campeões favoritos, compartilhando
                        e aprendendo macetes, taticas, builds, runas e talentos que possam ajudar seu desempenho.
                    </p>
					<p>
						<a class="btn" href="#">Ir para a página de guias »</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-2 column">
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 rodape">
        Projeto de Script - Marcelo Augusto Sandoval - 5ºADS - manhã - 1º semestre 2015
    </div>
</div>
</body>
</html>
