<div class="well">
                    <h1 class="text-center">Item Form</h1>


                            <div class="form-group ">
        <label for="tipoInput" class="control-label">Tipo </label>
        <input id="tipoInput" type="text" class="form-control" ng-model="item.tipo">
            </div>

                            <div class="form-group ">
        <label for="nomeInput" class="control-label">Nome </label>
        <input id="nomeInput" type="text" class="form-control" ng-model="item.nome">
            </div>

                            <div class="form-group ">
        <label for="bonusInput" class="control-label">Bonus </label>
        <input id="bonusInput" type="text" class="form-control"  ng-model="item.bonus">
            </div>

                            <div class="form-group ">
        <label for="ativaInput" class="control-label">Ativa </label>
        <input id="ativaInput" type="text" class="form-control"  ng-model="item.ativa">
            </div>

                            <div class="form-group ">
        <label for="passivaInput" class="control-label">Passiva </label>
        <input id="passivaInput" type="text" class="form-control"  ng-model="item.passiva">
            </div>

                            <div class="form-group ">
        <label for="auraInput" class="control-label">Aura </label>
        <input id="auraInput" type="text" class="form-control" ng-model="item.aura">
            </div>

                            <div class="form-group ">
        <label for="vlrVendaInput" class="control-label">VlrVenda </label>
        <input id="vlrVendaInput" type="text" class="form-control"  ng-model="item.vlrVenda">
            </div>

                            <div class="form-group ">
        <label for="vlrCompraInput" class="control-label">VlrCompra </label>
        <input id="vlrCompraInput" type="text" class="form-control"  ng-model="item.vlrCompra">
            </div>

                        <button type="submit" class="btn btn-success" ng-click="salvar() " ng-hide="salvandoFlag">Save</button>
    <img src="/static/img/ajax.gif" ng-show="salvandoFlag"/>

                </div>